strong Headings

h1 Heading Level 1
h2 Heading Level 2
h3 Heading Level 3
h4 Heading Level 4
h5 Heading Level 5
h6 Heading Level 6

strong Sub-Headings

h1.sub-heading Sub-Heading Level 1
h2.sub-heading Sub-Heading Level 2
h3.sub-heading Sub-Heading Level 3
h4.sub-heading Sub-Heading Level 4
h5.sub-heading Sub-Heading Level 5
h6.sub-heading Sub-Heading Level 6