// ----------------------------------------------------
// Theme Specific Variables
// ----------------------------------------------------
// colors
$blue: #0066AF;
$gray: #CECECE;
$black: #050505;

// alert colors
$alert-success: #00C762;
$alert-error: #FF544A;
$alert-message: $blue;
$alert-warning: #FBE7A6;

$text-color: $black;
$border-color: $gray;
$root-bg-color: #fff;
$action-color: $blue;

$border-radius: $sub-baseline/2;